/* default settings for body */
body {
    /* min-width: 1000px; */
    background-image: linear-gradient(to right, rgb(165, 199, 165), rgb(90, 90, 197));
}


/* Default setting for header */
#header {
    height: 70px;
    border-radius: 5px;
    width: auto;
    text-align: center;
    background-color: #35424a;
    margin: 5px 0;
    font-family: 'Times New Roman', Times, serif;
}
#header img{
    text-align: left;
    margin-left: 0;
    height: 66px;
    border: 2px solid green;
    border-radius: 50%;
}
.image {
    width: 30%;
    text-align: left;
}
 .ul {
    display: inline-block;
    transform: translate(0, -100%);
    text-align: center;
}
#header a {
    text-decoration: none;
    color: white;
    padding-right: 50px;
}
@media (max-width: 700px) {
    #header, #footer {
        width: auto;
        height: 70px;

    }
    #header .image{
        width: 50px;
        height: 66px;
    }
    #header img{
        width: 150%;
    }
    #header a {
        padding-right: 0%;
        margin-right: 20px;
    }
    .ul ul {
        left: 0px;
    }
}


/* Default setup for all buttons */
.btn{
    display: block;
    background-color: rgb(214, 221, 214);
    font-weight: bold; /* Use font-weight instead of font-style */
    padding: 10px 20px;
    margin:auto;
    margin-top: 15px;
    width: 200px;
    background-color: rgb(1, 65, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn a {
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color: #6fa18a;
    color: rgb(14, 12, 12);
}

button:hover, .btn a:hover {
    background-color: #6fa18a;
    color: rgb(14, 12, 12);
}


/* Default set-up for all forms */
#register #form_table {
    display: table;
    margin: 0 20px;
 }
 #form_table .row {
     display: table-row;
 }
 .row label {
     display: table-cell;
     padding: 10px;
 }
 .row input, .row select {
     display: table-cell;
     margin: 10px;
     font-size: 16px;
     height: 28px;
     width: 80%;
     border-radius: 3px;
 }
 .row select {
     width: 82%;
 }


 /* Default setting for footer */
footer {
    bottom: 10px;
    text-align: center;
    height: 70px;
    width: auto;
    color: white;
    border-radius: 5px;
    line-height: 0.8;
    background-color: #35424a;
    margin: 5px 0;
    font-family: 'Times New Roman', Times, serif;
}
footer ul {
    line-height: 30px;
}
footer ul a{
    display: inline-block;
    text-decoration: none;
    padding-right: 30px;
    color: white;
}