#container {
    /* background-color: #cba; */
    height: 100vh;
    box-sizing: border-box;
}
#header {
    height: 70px;
    width: auto;
    border-radius: 5px;
    border: 2px solid black;
}
#container {
    padding: 10px;
    height: 90vh;
    width: auto;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 20px 0 10px 0; 
}
#login_container
{   
    float: left;
    height: 80vh;
    width: 40%;
    border: 2px solid green;
    border-radius: 10px;
    margin: 20px;

}
#login {
    height: 200px;
    text-align: center;
    align-content: center;
    width: auto;
    margin: 20px;
    border: 2px solid black;
    border-radius: 3px;

}
#login div {
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    line-height: 0.8px;
}
#login div .login_btn, .register_btn{
    display: inline-block;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgb(39, 180, 39);
    color: white;
    font-style: bold;
    height: 40px;
    width: 100px;
    margin-right: 40px;
}
div input {
    width: 200px;
}
#register {
    height: 250px;
    width: auto;
    margin:20px 20px 0 20px;
    border: 2px solid black;
    border-radius: 3px;
}
#register form {
    line-height: 2;
    margin-left: 20px;
}
select option{
    width: 200px;
}
#welcome_content {
    margin: 20px;
    border: 2px solid black;
    width:auto;
    margin-left: 45%;
    border-radius: 10px;
    height: 80vh;

}
footer {
    bottom: 10px;
    height: 70px;
    width: auto;
    border-radius: 5px;
    border: 2px solid black;
}