body {
    min-width: 1000px;
}
#container {
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    background-color: rgb(231, 212, 211);
}
#header {
    height: 70px;
    width: auto;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(221, 215, 214);
}
#header img{
    text-align: left;
    margin-left: 0;
    height: 66px;
    border: 2px solid green;
    border-radius: 50%;
}
.image {
    width: 30%;
    text-align: left;
}
 .ul {
    display: inline-block;
    transform: translate(0, -100%);
    text-align: center;
}
#header a {
    text-decoration: none;
    padding-right: 30px;
    color: black;
    padding-right: 50px;
}
#container {
    padding: 10px;
    height: fit-content;
    width: auto;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 20px 0 10px 0;
    overflow: auto;
    
}
#login_container
{   
    display: grid;
    place-items: center;
    float: left;
    height: 100vh;
    width: 40%;
    border: 2px solid green;
    border-radius: 10px;
    margin: 20px;

}
#login {
    /* transform: translate(0%, 50%); */
    height: auto;
    text-align: center;
    align-content: center;
    width: 50%;
    min-width: 300px;
    margin: auto;
    border: 2px solid black;
    border-radius: 3px;
}
.login_text {
    display: block;
    font: 30px bold Helvetica;
    color: blue;
}
#login div {
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    height: auto;
    line-height: 0.8px;
    text-align: center;
}

#login .login_btn, .login_google {
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    background-color: rgb(214, 221, 214);
    color: black;
    font-style: bold;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 5px;
}
.login_google a {
    text-decoration: none;
    color: black;
}

div input {
    width: 200px;
}
#register_btn {
    
    text-align: center;
    display: block;
    font-size: 16px;
    color: black;
    font-style: bold;
}
div .register_btn {
    border-radius: 3px;
    background-color: rgb(214, 221, 214);
    height: 40px;
    padding: 10px 20px;
 
  
}
#register_btn button a {
    font-size: 16px;
    color: black;
    font-style: bold;
    text-decoration: none;
}
#welcome_content {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    border: 2px solid black;
    width: auto;
    margin-left: 45%;
    border-radius: 10px;
    height: auto;

}

.center {
    text-align: center;
}
.italics{
    font-style: italic;
    text-align: center;
}
.why_choose_us {
    text-justify: auto;
}
.center li {
    text-align: left;
}
footer {
    bottom: 10px;
    text-align: center;
    height: 70px;
    width: auto;
    border-radius: 5px;
    line-height: 0.8;
    background-color: rgb(221, 215, 214);
    margin: 5px 0;
}
footer ul {
    line-height: 30px;
}
footer ul a{
    display: inline-block;
    text-decoration: none;
    padding-right: 30px;
    color: black;
}