body {
    min-width: 500px !important;
}
#header {
    text-align: left !important;
}   
#container {
    top: 20px;
    background-color: #d6d8d6;
    height: 79vh;
    box-sizing: border-box;
    overflow: auto;
    display: grid;
    place-items: center;
}

#container {
    padding: 20px;
    width: auto;
    border: 4px solid black;
    border-radius: 10px;
    margin: 2px 0 1px 0;
    overflow: auto;
    background-color: #f8f8f8;
}

.center {
    display:grid;
    place-items: center;
}
div input {
    width: 200px;
}

#register {
    height: 350px;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 3px;
    display: grid;
    place-items: center;
    background-color: #c1c1c2; /* Added a background color */

}
#register form {
    line-height: 2;
    margin-left: 20px;
}

.italics{
    font-style: italic;
    text-align: center;
}


