body {
    min-width: 1000px;
   
}
#container {
    /* background-color: red; */
    height: 79vh;
    box-sizing: border-box;
    overflow: auto;
    display: grid;
    place-items: center;
}
#header {
    height: 70px;
    width: auto;
    border-radius: 5px;
    border: 2px solid black;
}
#header img {
    height: 100%;
    border-radius: 50%;
    
   
}
#container {
    padding: 20px;
    width: auto;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 2px 0 1px 0;
    overflow: auto;
}


.signUp_google {
    display: block;
    font-size: 16px;
    border-radius: 3px;
    /* background-color: rgb(39, 180, 39); */
    color: white;
    font-style: bold;
    height: 30px;
    width: fit-content;
    margin-top: 5px;
    margin-right: 40px;
    overflow: auto;
    padding: 3px;
}

.signUp_google a {
    text-decoration: none;
    /* background-color: gray; */
}
div input {
    width: 200px;
}
#register {
    height: 350px;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 3px;
    display: grid;
    place-items: center;
}
#register form {
    line-height: 2;
    margin-left: 20px;
}
.signUp_btn {
    display: block;
    font-size: 16px;
    border-radius: 3px;
    background-color: rgb(39, 180, 39);
    color: white;
    font-style: bold;
    height: 30px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}
.italics{
    font-style: italic;
    text-align: center;
}


footer {
    bottom: 10px;
    text-align: center;
    height: 70px;
    width: auto;
    border-radius: 5px;
    line-height: 0.8;
    border: 2px solid rgb(151, 25, 25);
    margin: 1px 0;
}
footer ul a{
    display: inline-block;
    text-decoration: none;
    padding-right: 30px;
}